@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.landing-container {
  padding-top: 15%;
  background-image: url("../../assets/background/signupimg.jpg");
  background-repeat: no-repeat;
  background-size: 110%;
  width: 100%;
  height: 55vw;
}

.auth-wrapper {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25098039215686274);
  width: 25vw;
  height: 25vw;
  background-color: rgba(96, 96, 96, 0.468);
  display: block;
  margin: 0 auto;
}

.welcome {
  letter-spacing: 5px;
  text-shadow: 0px 0px 13px rgb(71, 71, 71);
  padding-top: 5%;
  line-height: 4vw;
  text-align: center;
  font-size: 3vw;
  color: black;
  font-family: Raleway, Helvetica;
}

.funny {
  text-align: center;
  font-size: 1vw;
  color: #eaeaea;
  margin-top: 1vw;
  letter-spacing: .1vw;
  text-shadow: 1px 1px 3px black;
}

.links-to-site {
  height: 40px;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}

.signup {
  color: black;
  border-radius: 2%;
  padding: 2%;
  font-family: Raleway, Helvetica;
  background-color: rgba(96, 96, 96, 0.668);
  text-decoration: none;
  margin-right: 10%;
  font-size: 1.5vw;
}

.signin {
  border-radius: 2%;
  padding: 2%;
  font-family: Raleway, Helvetica;
  background-color: rgba(96, 96, 96, 0.668);
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
}

.signin:hover, .signup:hover {
  transition: 150ms;
  color: rgb(225, 225, 225);
  background-color: rgb(74, 74, 74);
}

.ask-about-account {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  font-family: Raleway, Helvetica;
  text-align: center;
  text-transform: lowercase;
  color: black;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.signin-link, .signup-link {
  letter-spacing: 2px;
  border-radius: 2%;
  text-shadow: 0px 0px 2px white;
  padding: 0%;
  padding-top: 1vw;
  font-family: Raleway, Helvetica;
  color: black;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
  display: block;
  width: 12vw;
  height: 1.5vw;
  margin: auto;
}

.signin-link:hover,
.signup-link:hover {
  transition: 150ms;
  color: whitesmoke;
}

@media screen and (max-width: 450px) {
  .landing-container {
    padding-top: 22%
  }

  .auth-wrapper {
    height: 30vw;
  }
}
