.flight-obj {
  display: inline-block;
  outline: 4px solid white;
  width: 30%;
  height: 35vw;
  text-align: center;
  background-color: hsla(240, 8%, 53%, 0.31);
}

.airport-image, .img-obj {
  width: 100%;
  text-align: center;
  height: 300px;
}

.image-holder {
  text-align: center;
}
