@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.lowfareform-wrapper {
  background-image: url("../../assets/background/italy.jpg");
  background-repeat: no-repeat;
  zoom: 1.2;
  background-size: 114%;
  width: 100%;
  height: 55vw;
}

.discover-destinations {
  font-family: Raleway, Helvetica;
  font-size: 2vw;
  font-weight: bold;
  display: block;
  text-align: center;
  // margin-top: 4%;
  margin-bottom: 2.5%;
  padding-top:10%;
}
