.NonStop {
  position: absolute;
  right: 6%;
  margin-top: 9%;
  font-size: .9vw;
}

.city-price-item {
  display: block;
  clear: both;
  float: right;
  margin-top: 0vw;
  margin-right: 1vw;
  font-size: 1.7vw;
}

.city-return-lowfare {
  float: left;
  font-size: 1.1vw;
  margin-top: .4vw;
  margin-left: 1.8vw;
}

@media screen and (max-width: 720px) {
  .NonStop {
    position: absolute;
    right: 4.5%;
    margin-top: 6%;
    font-size: .9vw;
  }
}


@media screen and (max-width: 420px) {
  .NonStop {
    right: 2%;
    margin-top: 6%;
    font-size: 2vw;
  }
}
