/* SCSS variables */
$beige: #e5eec1;
$mint: #a2d4ab;
$teal: #3eaca8;
$navy: #547a82;
$charcoal: #5a5050;

/*
$darkgreen: #529c6f;
$green: #7ac795;
$lightgreen: #c6e6c3;
$fontcolor: #fff;
$errormsgcolor: #9e2130;
$red: #c31c1c;
$darkred: darkred;
*/
