@import '../../style/base/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.lowfare-form {
  background: #abaaaa91;
  width: 35%;
  margin-top: 7%;
  margin-bottom: 7%;
  position: absolute;
  z-index: 10;
  padding: 60px 60px 80px;
  left: 5%;
  opacity: 0.8;
  border-radius: 2px;
  box-shadow: 5px 5px 10px 0px;
}

.lowfare-form input[type=text],
.lowfare-form input[type=number],
.lowfare-form input[type=date] {
  font-weight: bold;
  border: 0;
  font-family: Raleway, Helvetica;
  border-bottom: solid 1px rgba(0, 0, 0, 0.651);
  box-shadow: none;
  border-radius: 0px;
  outline: none;
  background-color: rgba(0,0,0,0);
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
 };

 .lowfare-form input[type=text]::placeholder,
 .lowfare-form input[type=number]::placeholder,
 .lowfare-form input[type=date]::placeholder{
  color: black;
 }

 .lowfare-form input[type=date]::-webkit-inner-spin-button {
  display: none;
}

.lowfare-leftside {
  display: inline-block;
  width: 48%;
  margin-right: 15px;
}

.lowfare-rightside {
  position: absolute;
  width: 36%;
  display: inline-block;
}

.lowfare-btn {
  display: inline-block;
  width: auto;
  padding: 1% 7%;
  border-radius: 2%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: Raleway, Helvetica;
  background-color: rgb(84, 81, 71);
  position: absolute;
  bottom: 30%;
  right: 12%;
  transition: 150ms;
  color: white;
  border: none;
}

.labels {
  font-size: 8px;
  font-family: Raleway, Helvetica;
  color: black;
  font-weight: bold;
  margin-left: 2%;
}

.lowfare-btn:hover {
  color: black;
  background-color: rgb(227, 206, 149)
}
