@import '../../style/base/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:400');

.lowfare-form {
  background: #abaaaa63;
  width: 45%;
  position: absolute;
  left: 5%;
  opacity: 0.8;
  border-radius: 2px;
  box-shadow: 5px 5px 10px 0px;
  top: 20%;
  padding: 5%;
  margin-top: 12%;
}

.lowfare-form input[type=text],
.lowfare-form input[type=number],
.lowfare-form input[type=date] {
  border: 0;
  letter-spacing: 2px;
  font-family: Raleway, Helvetica;
  font-size: .9vw;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border-bottom: solid 1.5px rgba(0, 0, 0, 0.651);
  box-shadow: none;
  border-radius: 0px;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 4%;
 };

 .lowfare-form input[type=text]::placeholder,
 .lowfare-form input[type=number]::placeholder,
 .lowfare-form input[type=date]::placeholder{
  color:black;
 }

 .lowfare-form input[type=date]::-webkit-inner-spin-button {
  display: none;
}

.lowfare-leftside {
  display: inline-block;
  width: 48%;
  margin-right: 20px;
}

.lowfare-rightside {
  position: absolute;
  width: 36%;
  display: inline-block;
}

.btn-link {
  text-decoration: none;
  color: white;
}

.btn-link:hover {
  color: black;
}


.lowfare-btn {
  display: inline-block;
  width: auto;
  padding: 1% 7%;
  border-radius: 2%;
  text-decoration: none;
  font-size: 12px;
  font-family: Raleway, Helvetica;
  background-color: rgb(84, 81, 71);
  position: absolute;
  bottom: 12%;
  right: 20%;
  transition: 150ms;
  color: white;
  border: none;
  text-align: center;
}

.labels {
  font-size: 10px;
  font-family: Raleway, Helvetica;
  margin: 4%;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}

.lowfare-btn:hover {
  color: black;
  background-color: rgb(226, 229, 233)
}

.loading {
  transition: 1s;
  opacity: 1;
  z-index: 999;
  position: fixed;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
}

.hide {
  transition: 1s;
  opacity: 0;
  z-index: -9;
  position: fixed;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
}

.css-jxiqlq {
  display: block;
  margin: 0 auto;
  margin-top: 30%;
}

.load-saying {
  text-align: center;
  color: white;
  margin-top: 5%;
}

.load-saying-2 {
  text-align: center;
  color: white;
  margin-top: 2%;
}

@media screen and (max-width: 540px) {
  .lowfare-form {
    margin-top: 16vw !important;
    width: 80% !important;
  }

  .lowfare-form input[type=text], .lowfare-form input[type=number], .lowfare-form input[type=date] {
    font-size: 1.9vw;
  }
}
