@import url('https://fonts.googleapis.com/css?family=Work+Sans:400');
@import '../../style/base/variables.scss';


.fuzzy-input {
  font-family: "Work Sans";

  li {
    padding-left: 10px;

    h3 {
      color: $navy;
      font-weight: bold;
    }
    p {

    }
  }

  li:hover {
    background-color: $navy;
    h3 {
      color: $beige;
    }
    p {

    }
  }
}
