@import url('https://fonts.googleapis.com/css?family=Raleway:400');
@import '../../style/base/variables.scss';

div {
  position: relative;
  z-index: 2;
  opacity: 1;
}

.fuzzy-auth > .fuzzy-input {
  margin-left: 3.1%;
  width: 90%;
}

.fuzzy-low-fare > .fuzzy-input {
  margin-left: 4%;
  width: 100%;
}

.fuzzy-input {
  position: absolute;
  font-family: "Raleway";
  background-color: #ddd;
  li {
    padding: 4%;
    :first-child {
      padding-bottom: .5%;
    }
    h3 {
      font-size: 1vw;
      color: black;
      font-weight: bold;
    }
    p {
      font-size: .8vw;
    }
  }

  li:hover {
    background-color: #444;
    h3 {
      color: white;
    }
    p {
      color: #ddd
    }
  }
}
