@import url('https://fonts.googleapis.com/css?family=Work+Sans:400'); // Jordan
@import './base/variables'; // Jordan

body {
  background-color: white;
  color: $charcoal;
  text-transform: uppercase;
  font-family: "Work Sans" // Jordan
};
