body {
  background-color: lightseagreen;
  color: beige;
  text-transform: uppercase;
};

// input {
//   background-color: lightgrey;
//   border-radius: 4px;
//   width: 10%;
//   padding: 1%;
//   margin: 3%;
//   color: black;
//   font-size: 1vw;
//   font-family: sans-serif;
//   word-spacing: 2px;
//   font-weight: bold;
// }

input:focus {
  background-color: lightgoldenrodyellow;
  border: 3px solid #555;
  color: gray;
}

button{
  padding: 1%;
  font-weight: bold;
  border-radius: 8%;
  background-color: darkorange;
}
